* {
  box-sizing: border-box; }

/*SASS Variable*/
/*Mixin Examples*/
/*@include center()*/
/*@include border(); */

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.4em; }

body .conatainer {
  max-width: 990px;
  margin: 0px auto; }

body .container .row1,
body .container .row2,
body .container .row3 {
  width: 33%;
  display: inline-block;
  padding: 20px; }

.floater {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 3px solid #5ca3d6;
  border-bottom: 3px solid #5ca3d6; }

.floater:hover {
  background-color: #5ca3d6; }

.floater i:hover {
  color: white !important; }

.tee1,
.tee2,
.tee3 {
  border: 3px solid #5ca3d6;
  padding: 30px;
  background-color: transparent;
  position: relative; }

.shop {
  border-left: 3px solid #5ca3d6;
  border-right: 3px solid #5ca3d6;
  border-bottom: 3px solid #5ca3d6;
  max-width: 100%;
  height: 30px;
  background-color: transparent; }
  .shop .sizeMenu {
    position: absolute;
    top: -176px;
    left: 1px;
    background-color: white;
    border: 3px solid #5ca3d6;
    padding: 6px;
    display: none; }
  .shop .triangle {
    border-top: 10px solid white;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 20px;
    top: 169px; }
  .shop .triangle2 {
    border-top: 10px solid white;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -7px;
    left: 53px; }

.icon:hover > i {
  color: white; }

.icon3:hover .sizeMenu {
  display: block; }

.icon4:hover .colorMenu {
  display: block; }

.sizeMenu img {
  margin: 0 auto;
  display: block; }

.icon4 .colorMenu {
  position: absolute;
  top: -130px;
  left: -31px;
  background-color: white;
  border: 3px solid #5ca3d6;
  padding: 7px;
  width: 135px;
  text-align: center;
  display: none; }

.colorMenu img {
  margin: 0 auto;
  display: block; }

.Menu1,
.Menu2,
.Menu3,
.Menu4 {
  display: inline-block;
  margin: 5px; }

.Menu1 .fa {
  color: #5ca3d6;
  font-size: 40px; }

.Menu2 .fa {
  color: #D482AA;
  font-size: 40px; }

.Menu3 .fa {
  color: #DCB07D;
  font-size: 40px; }

.Menu4 .fa {
  color: #33CC99;
  font-size: 40px; }

.teeBlue,
.teePink,
.teeOrange {
  width: 100%; }

h3 {
  font-size: 16px;
  color: #5ca3d6;
  margin-top: 10px;
  float: left; }

.price {
  font-size: 18px;
  color: #5ca3d6;
  display: inline;
  float: right;
  font-weight: bold; }

.fa {
  color: #5ca3d6;
  text-align: center;
  display: block;
  padding-top: 5px; }

.icon {
  height: 30px;
  width: 20%;
  border-right: 3px solid #5ca3d6;
  display: inline-block; }

.icon3,
.icon4 {
  position: relative; }

.icon:hover {
  background-color: #5ca3d6; }

.icon4 > i:hover {
  color: white !important; }

.icon5 {
  border-right: 0; }

.footer {
  font-family: helvetica, serif;
  font-size: 12px;
  margin-top: 64px;
  color: grey;
  text-align: center; }

@media (max-width: 990px) {
  .row1,
  .row2,
  .row3 {
    width: 100%; }
  .sizeMenu {
    top: -197px;
    left: 0px;
    position: relative; }
  .icon4 .colorMenu {
    left: -36.5px;
    top: -433%; }
  .triangle {
    left: 18.5px;
    top: 169px; }
  .triangle2 {
    left: 54px; } }
